<p style="color: green"><%= notice %></p>

<div class="row mb-4">
  <div class="col">
    <%= link_to new_recipe_path, class: 'btn btn-dark btn-sm float-end' do %>
      <i class="bi bi-journal-plus"></i>
      Add Recipe
    <% end %>
  </div>
</div>

<div id="recipes" class="container">
  <div class="row mb-2">
    <h2>Recent Recipes</h2>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @recipes.order(created_at: :desc).limit(3).each do |recipe| %>
      <%= render 'card', recipe: recipe %>
    <% end %>
  </div>

  <div class="row mb-2 mt-4">
    <h2>All Recipes</h2>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @recipes.each do |recipe| %>
      <%= render 'card', recipe: recipe %>
    <% end %>
  </div>
</div>
