<div id="<%= dom_id ingredient %>">
  <p>
    <strong>Recipe:</strong>
    <%= ingredient.recipe_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= ingredient.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= ingredient.amount %>
  </p>

</div>
